name: Build everything

# TODO: Build docker container?
on:
  push:
    paths: ['.github/workflows/build-everything.yml']
  pull_request:
    paths: ['.github/workflows/build-everything.yml']
  workflow_dispatch:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Prepare env
        shell: bash
        run: echo "GITHUB_SHA_SHORT=${GITHUB_SHA::7}" >> $GITHUB_ENV
      - uses: actions/checkout@v4
      - name: Build for Windows
        if: startsWith(matrix.os, 'windows-')
        run: |
          rustup toolchain add 1.75-x86_64-pc-windows-msvc
          cargo +1.75 build --release
      - name: Build for Linux
        if: startsWith(matrix.os, 'ubuntu-')
        run: |
          cargo build --release
      - name: Upload Windows build
        if: startsWith(matrix.os, 'windows-')
        uses: actions/upload-artifact@v4
        with:
          name: simulcast-mpv-${{ github.head_ref || github.ref_name }}-${{ env.GITHUB_SHA_SHORT }}-windows
          path: target/release/simulcast-mpv.exe
      - name: Upload Linux build
        if: startsWith(matrix.os, 'ubuntu-')
        uses: actions/upload-artifact@v4
        with:
          name: simulcast-mpv-${{ github.head_ref || github.ref_name }}-${{ env.GITHUB_SHA_SHORT }}-linux
          path: target/x86_64-unknown-linux-musl/release/simulcast-mpv
